template_whisperer.template_whisperer_suggestion.*:
  type: config_entity
  label: 'Template Whisperer - Suggestion'
  mapping:
    id:
      type: string
      label: 'ID'
    name:
      type: string
      label: 'Name'
    suggestion:
      type: string
      label: 'Theme Suggestion'

# Schema for the configuration of the Template Whisperer field type.
field.field_settings.template_whisperer:
  type: mapping
  label: 'Template Whisperer settings'
  mapping:
    handler:
      type: mapping
      label: 'Reference Type'
      mapping:
        suggestions:
          type: sequence
          label: 'Available Suggestions'
          sequence:
            type: string
            label: 'Suggestion'

# Schema for Block Conditions
condition.plugin.template_whisperer:
  type: condition.plugin
  mapping:
    suggestions:
      type: sequence
      sequence:
        type: string